.App {
    text-align: center;
    margin-top: 20px;
  }
  
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .photo-item {
    margin: 10px;
    text-align: center;
  }
  
  img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  